################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/appsettings.Development.json

**/.vscode/
**/.cursor/

src/apps/Starbender.FPrimeSharp.GdsApp/data/GdsApp.db

src/apps/Starbender.FPrimeSharp.GdsApp/data/GdsApp.db-shm

src/apps/Starbender.FPrimeSharp.GdsApp/data/GdsApp.db-wal
