@page "/Gds"

@inherits GdsComponentBase

@using Microsoft.Extensions.Localization
@using Starbender.FPrimeSharp.Gds.Blazor.Components
@using global::Starbender.FPrimeSharp.Gds.Localization


<h1>GDS Test Page</h1>
<TopologyViewer Topology="_topolopgy" />
